@import 'abstracts/abstract-dir';

*{
  margin:0;
  padding: 0;
}

html,body,#root,.mainWrap{
  min-height:100vh;
  background-color: $ligtGrey;
}

body,p{
  font-size: 16px;
  color: #444;
  font-family: $primary-font;
}

h1,h2,h3,h4,h5,h6{
  font-family: $primary-font;
}

h1{
  @include font-size(2.25);
}
h2{
  @include font-size(1.75);
}
h3{
  @include font-size(1.37);
}
h4{
  @include font-size(1.125);
}
h5{
  @include font-size(0.94);
}
h6{
  @include font-size(0.75);
}

a,.btn,button,input[type="submit"]{
  @include transition(all ease 350ms);
}

.mainWrap{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr;
  min-height: 100vh;
}

// header
.menuwrap{
  display: flex;
  align-items: center;
  padding: 1rem 0;
  .logoWrap{
    img{
      max-width: 95px;
    }
  }
  .nav{
    margin-left: auto;
    .nav-link{
      @include font-size(0.95);
      color: #444;
      &:hover{
        color: $primary-color;
      }
    }
  }
}

.innerSec{
  .container{
    display: flex;
    align-items: center;
    height: 100%;
  }
  .btnWrap{
    text-align: center;
    width: 100%;
    .btn{
      width:100%;
      max-width: 300px;
    }
  }
}
