@import 'abstracts/abstract-dir';

*{
  margin:0;
  padding: 0;
}

html,body,#root,.mainWrap{
  min-height:100vh;
}

body,p{
  @include font-size(0.87);
  color: #444;
  font-family: $primary-font;
}

h1,h2,h3,h4,h5,h6{
  font-family: $secondary-font;
  font-weight: 600;
}

h1{
  @include font-size(2.25);
}
h2{
  @include font-size(1.75);
}
h3{
  @include font-size(1.37);
}
h4{
  @include font-size(1.125);
}
h5{
  @include font-size(0.94);
}
h6{
  @include font-size(0.75);
}

a,.btn,button,input[type="submit"]{
  @include transition(all ease 350ms);
  font-family: $primary-font;
}

.text-primary{
  color: $primary-color !important;
}

.mainWrap{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr;
  min-height: 100vh;
  .pTopImg{
    @include position(absolute, $top:0, $left:0);
    z-index: -1;
    max-height: 100vh;
  }
  .pBottImg{
    @include position(absolute, $bottom:0, $right:0);
    z-index: -1;
  }
}

// header
.menuwrap{
  display: flex;
  align-items: center;
  padding: 1rem 0;  

  .logoWrap{
    img{
      max-width: 95px;
    }
  }
  .nav{
    margin-left: auto;
    .nav-link{
      @include font-size(0.82);
      font-weight: 600;
      color: #444;
      &.active,
      &:hover{
        color: $primary-color;
      }
    }
  }
}

.ypHead{
  h2{
    @include font-size(1.25);
  }
}

.innerSec{
  display: flex;
  align-items: center;
  .btnWrap{
    .btn{
      width:100%;
      max-width: 300px;
    }
  }
}
.gBox{
  padding: 0.5rem;
  background-color: $ligtGrey;
  @include border-radius(10px);
  &--width{
    margin-left: auto;
    margin-right: auto;
  }
  &--padding{
    padding: 30px;
  }
}

.stakeSec{
  .gBox{
    &--width{
      max-width: 400px;
    }
    .ypTags{
      min-width: 115px;
    }
  }
  .ypTags--outline-primary{
    min-width: 108px;
    margin-bottom: 1.5rem;
  }
}
