.ypTags{
  text-align: center;
  color: #fff;
  background-color: darken($ligtGrey, 20%);
  border: 1px solid darken($ligtGrey, 20%);
  @include font-size(0.78);
  padding: 0.45rem 0.67rem;
  @include border-radius(10px);
  display: inline-block;
  &--outline-primary{
    border-color: $primary-color;
    background-color: transparent;
    color: $secondary-color;
  }
}