.btn{
  padding: 0.8rem 1rem;
  @include border-radius(15px);
  font-family: $primary-font;
  display: inline-block;
  font-weight: 600;
  @include font-size(0.87);
  &-mw300{
    width: 100%;
    max-width: 300px;
  }
  &-primary{
    background-color: $primary-color;
    border-color: $primary-color;
    &:not(:disabled):not(:disabled):active,
    &:hover,
    &:focus,
    &:active{
      background-color: darken($primary-color, 10%);
      border-color: darken($primary-color, 10%);
    }
  }
  &-secondary{
    background-color: $secondary-color;
    border-color: $secondary-color;
    &:not(:disabled):not(:disabled):active,
    &:hover,
    &:focus,
    &:active{
      background-color: darken($secondary-color, 10%);
      border-color: darken($secondary-color, 10%);
    }
    &:disabled,
    &.disabled{
      background-color: $grey;
      border-color:$grey;
    }
  }
}
