.form-check{
  padding-left: 1.75rem;
  input{
    opacity: 0;
    visibility: hidden;
  }
  &-label{
    @include font-size(0.68);
    cursor: pointer;
    &:before{
      width: 15px;
      height: 15px;
      @include position(absolute, $top:0, $left:3px);
      border: 1px solid #333;
      content: '';      
    }
    &:after{
      width: 9px;
      height: 9px;
      @include position(absolute, $top:3px, $left:6px);
      background-color: #333;
      content: '';
      opacity: 0;      
    }
  }
  input[type="checkbox"]+&-label{
    &:before,&:after{
      @include border-radius(0.19rem);
    }
  }
  input[type="radio"]+&-label{
    &:before,&:after{
      @include border-radius(50%);
    }
  }
  input:checked+&-label{
    &:before{
     border-color: $primary-color;
    }
    &:after{
      background-color: $primary-color;
      opacity: 1;
    }
  }
}