.form-check{
  padding-left: 1.75rem;
  input{
    opacity: 0;
    visibility: hidden;
  }
  &-label{
    @include font-size(0.68);
    cursor: pointer;
    &:before{
      width: 18px;
      height: 18px;
      @include position(absolute, $top:0, $left:0);
      border: 1px solid darken($midGrey, 10%);
      content: '';      
    }
    &:after{
      width: 10px;
      height: 10px;
      @include position(absolute, $top:4px, $left:4px);
      background-color: darken($midGrey, 10%);
      content: '';
      opacity: 0;      
    }
  }
  input[type="checkbox"]+&-label{
    &:before,&:after{
      @include border-radius(0.19rem);
    }
  }
  input[type="radio"]+&-label{
    &:before,&:after{
      @include border-radius(50%);
    }
  }
  input:checked+&-label{
    &:before{
     border-color: $primary-color;
    }
    &:after{
      background-color: $primary-color;
      opacity: 1;
    }
  }
}