@font-face {
  font-family: 'Circular Std';
  src: url('../../font/CircularStd-Black.woff2') format('woff2'),
      url('../../font/CircularStd-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../../font/smetropolis-bold-webfont.woff2') format('woff2'),
       url('../../fonts/metropolis-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../../fonts/metropolis-extrabold-webfont.woff2') format('woff2'),
        url('../../fonts/metropolis-extrabold-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../../fonts/metropolis-light-webfont.woff2') format('woff2'),
        url('../../fonts/metropolis-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../../fonts/metropolis-medium-webfont.woff2') format('woff2'),
        url('../../fonts/metropolis-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../../fonts/metropolis-regular-webfont.woff2') format('woff2'),
        url('../../fonts/metropolis-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}